@import "assets/styles/custom-fonts.css";
@import "components/Loader/loader.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    min-width: 320px;
}

:root {
    --font-montserrat: "Montserrat", 'serif';
    --font-roboto: "Roboto", 'sans-serif';

    --muse-color-transparent: transparent;

    --audio-color-base-white: 255, 255, 255;
    --audio-color-base-black: 0, 0, 0;

    --audio-color-grey-100: 229, 229, 229;
    --audio-color-grey-200: 186, 186, 186;
    --audio-color-grey-500: 107,106,105;
    --audio-color-grey-600: 50, 50, 50;
    --audio-color-grey-700: 43, 43, 43;
    --audio-color-grey-800: 22, 22, 22;
    --audio-color-grey-900: 24, 24, 24;

    --audio-color-red-400: 255, 51, 51;
    --audio-color-red-500: 223,57,64;
    --audio-color-red-600: 192, 49, 55;

    --audio-color-blue-400: 107, 175, 195;
    --audio-color-blue-500: 0, 75, 204;

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 3rem;

    --line-height-sm: 1.25;
    --line-height-md: 1.5;
    --line-height-lg: 1.75;
    --line-height-xl: 2;
}

.dark {
    --muse-background-default: var(--audio-color-grey-800);

    --muse-screen-default: var(--audio-color-grey-600);

    --muse-content-primary: var(--audio-color-base-white);
    --muse-content-secondary: var(--audio-color-grey-200);

    --muse-button-primary: var(--audio-color-red-500);
    --muse-button-hover: var(--audio-color-red-600);

    --muse-status-error: var(--audio-color-red-400);

    --muse-action-link-default: var(--audio-color-blue-400);

    --muse-input-default: var(--audio-color-grey-900);
}

.light {
    --muse-background-default: var(--audio-color-grey-100);

    --muse-screen-default: var(--audio-color-base-white);

    --muse-content-primary: var(--audio-color-base-black);
    --muse-content-secondary: var(--audio-color-grey-200);
    --muse-content-tertiary: var(--audio-color-base-white);

    --muse-button-primary: var(--audio-color-red-500);
    --muse-button-hover: var(--audio-color-red-600);

    --muse-button-text: var(--audio-color-base-white);

    --muse-status-error: var(--audio-color-red-400);

    --muse-action-link-default: var(--audio-color-blue-500);

    --muse-input-default: var(--audio-color-base-white);
}
