@import "assets/styles/customFonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.dark {
    --main-bg-color: 22, 22, 22;

    --primary-screen-color: 50, 50, 50;

    --primary-text-color: 255, 255, 255;

    background: rgba(var(--main-bg-color));
}

.light {
    --main-bg-color: 229, 229, 229;

    --primary-screen-color: 255, 255, 255;

    --primary-text-color: 0, 0, 0;

    background: rgba(var(--main-bg-color));
}